* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrusel */
.carrusel {
    width: 400px;
    height: 345px;
    border: 1px solid green;
    border-radius: 10px;
    overflow: hidden;
}

/* Imagenes */
.images{
    display: flex;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

/* Controles */
.controls {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: goldenrod;
    flex-basis: 33%;
    cursor: pointer;
}